* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple-system, sans-serif;
}

body {

    background-color: #0A0A0A;
    color: #ededed;

}

.header {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

header .logo {
    font-size: 24px;
    font-weight: 200;
    color: #ededed;
    text-decoration: none;
}
nav ul li a {
    color: #ededed;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
 transition: .3s;
}
.NavBar a:hover,
.NavBar a.active {
    color: #0b5b9c;

}
.home{
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
    
.home-img img{
    width: 450px;
    height: auto;
}

.home-content{

    max-width: 600px;
    margin: 20px 0 40px;
}

.home-content h1{
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
    color: rgb(21, 69, 173);
}
.home-content p{
    font-size: 18px;
    margin: 20px 0 40px;
    
}

.home-content .btn-content {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   
}

.btn-content a{
    position: relative; /* nodig voor ::before positie */
    display: inline-flex;
    align-items: center; /* tekst verticaal centreren */
    justify-content: center; /* tekst horizontaal centreren */
    width: 150px;
    height: 100%;
    background: #00abf0; /* deze kleur geld voor beide knoppen */
    border: 2px solid #00abf0;
    border-radius: 8px;
    text-decoration: none;
    color: #081b29;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden; /* voorkomt dat animatie buiten knop komt */
    z-index: 1;
    transition: .5s;
}
.btn-content a:hover{  /* de knop "My Projects" hover kleur */
    color: #00abf0;
}
   .btn-content a:nth-child(2):hover{
    background: #081b29;/* basis kleur voor de "Contact Me" knop bij hover */
     color: #00abf0; /* tekst kleur bij hover */
}
.btn-content a:nth-child(2)::before{
    background: #0b5b9c;/* animatie kleur voor de "Contact Me" knop */
}
.btn-content a:nth-child(2){
     background: transparent;
      color: #18a7a7;
}
.btn-content a::before{/* pseudo element voor animatie en voegt een extra layer toe */
   content: ''; /* maakt een pseudo element */
    position: absolute;
    top: 0;
    left: -100%; /* start buiten de knop */
    width: 100%;
    height: 100%;
    background: #081b29;/* animatie kleur voor de "My Projects" knop */
    z-index: -1; /* zorgt dat het achter de tekst blijft */
    transition: .4s;
}
.btn-content a:hover::before{
     left: 0;/* zorgt ervoor dat de animatie van links anar rechts gaat */
    
}

.home-socialMedia{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
}
.home-socialMedia a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   width: 40px;
   height: 40px;
   background: transparent;    
   margin-right: 20px; /* ruimte tussen iconen */
   border: 2px solid #00abf0; /* dit maakt de rand */
   border-radius: 50%; /* maakt de rand rond */
   font-size: 20px;
   color: #00abf0; /* kleur van de iconen */
   text-decoration: none;
   z-index: 1  ;
   overflow: hidden; /* voorkomt dat animatie buiten de iconen komt */
   transition: .5s  ;
}
.home-socialMedia a:hover{
    color: #081b29; /* icoon kleur bij hover */
}

.home-socialMedia a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-socialMedia a:hover::before{
    left: 0;
}